@import "/sass/components/general/general.css";
@import "/sass/components/navbar/navbar.css";
@import "/sass/components/footer/footer.css";
@import "/sass/components/header/header.css";

$white: #fff;
$orange: rgb(247, 163, 55);
$lightPink: rgb(255, 245, 245);

.header-section {
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url("/img/graduates-banner.png");

  background-position: 50% 55%;
}

.main-section {
  grid-template-columns: 1fr 1fr;
  display: grid;

  margin-top: 200px;

  .main-description {
    text-align: left;

    h1 {
      font-size: 46px;
      font-weight: 500;

      margin-bottom: 30px;
    }

    button {
      background-color: white;
      border: 1px solid rgb(243, 45, 45);
      color: rgb(243, 45, 45);
      padding: 11.5px 40px;
      cursor: pointer;

      margin-top: 30px;

      &:hover {
        background-color: rgb(243, 45, 45);
        color: white;
        transition: 0.2s ease;
      }
    }
  }

  img {
    width: 100%;
  }
}

@import "/sass/components/media/media.css";
